<div class="google-ad" style="width:100%;text-align:center;">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    <!-- codefoster.com Article Page -->
    <ins class="adsbygoogle"
        style="display:inline-block;width:728px;height:90px;"
        data-ad-client="ca-pub-4179700887390475"
        data-ad-slot="1760350345"></ins>

    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

    <noscript>Please enable JavaScript to view comments.</noscript>
</div>