<% if (theme.omniture){ %>
    <!-- Omniture Analytics -->
    <meta name="t_omni_extblogid" content="msstoextblogs2" />
    <meta name="t_omni_blogname" content="<%= theme.omniture %>" />
    <meta name="t_omni_market" content="US" />
    <meta name="t_omni_audience" content="DEVELOPER" />
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="http://www.microsoft.com/feeds/omni_external_blogs.js"></script>
    <noscript>
        <a href='http://www.omniture.com' title='Web Analytics'>
            <img src='http://mssto.112.2o7.net/b/ss/msstoextblogsnojs/1/H.20.2--NS/0' height='1' width='1' border='0' alt='' />
        </a>
    </noscript>
    <!-- End Omniture -->
<% } %>